/* General styles */
img{
  max-width: 400px;
  height: 400px;
}
.search-container {
  margin-bottom: 20px;
}

.search-label {
  margin-right: 10px;
}

.search-input {
  width: 200px;
  margin-right: 10px;
  padding: 5px;
}

.search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}

.item-container {
  margin-bottom: 20px;
}

.item-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
 
}

.title {
  font-weight: bold;
}

.item-image {
  max-width: 400%;
  height: 400%;
}

/* Specific styles for different types */
.no-type {
  background-color: #f9f9f9;
  display: flex;
}

.ElectricCar {
  background-color: #c7e3ff;
  display: flex;

}

.SportsCar {
  background-color: #e6f0ff;
  display: flex;
}

.card-container {
  display: flex;
  justify-content: space-around;
}
