/* General styles */

.search-container {
  margin-bottom: 20px;
}

.search-label {
  margin-right: 10px;
}

.search-input {
  width: 200px;
  margin-right: 10px;
  padding: 5px;
}

.search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}

.item-container {
  margin-bottom: 20px;
  display: flex;
}

.item-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.title {
  font-weight: bold;
}

.item-image {
  max-width: 400px;
  height: auto;
}

/* Specific styles for different types */

.no-type {
  background-color: #eed0d0;
}

.ElectricCar {
  background-color: #c7e3ff;
}

.SportsCar {
  background-color: #ddfae8;
}
