<h1>My Favourite Cars</h1>

<ng-container *ngFor="let item of contentArray; let i=index">
    <div class="card" *ngIf="i < 5">
      <img class="image" [src]="item.imgURL" alt="{{ item.title }} Image"  />
      <div class="content">
        <h2>{{ item.title }}</h2>
        <p class="description">{{ item.description }}</p>
        <p class="creator">Creator: {{ item.creator }}</p>
        <p class="type" *ngIf="item.type">Type: {{ item.type }}</p>
        <div class="tags" *ngIf="item.tags && item.tags.length > 0">
          <p>Tags:</p>
          <ul class="list">
            <li class="tag" *ngFor="let tag of item.tags">{{ tag }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

     
 