h2 {
    text-align: center;
    font-size: 2.2em;
}

.container {
    margin: 0 20%;
}

div {
    margin-bottom: 60px;
}

.input {
    text-align: center;
    margin-bottom: 0;
}

.message {
    text-align: center;
}

.card-none {
    border: 3px solid black;
}

.card {
    border: 0 10px 12px black;
}